
# Clave secreta para el hashing de contraseñas con HMAC.
NEXT_PUBLIC_HMAC_SECRET_KEY=""

# Supabase
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

# Google Maps
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=""
